<div style="text-align: center">Welcome to SnappyGuests!</div>

<div id="indexMenuContainer" style="width: 600px; margin-left:auto; margin-right: auto; padding: 20px;">
    <%= link_to "Events", events_path, :class => 'btn btn-block btn-primary'  %>
    <%= link_to "Users", users_path, :class => 'btn btn-block btn-primary'  %>

</div>
