/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require ../shared/polaroid
 *= require_tree .
 *= require_self
 */

.ui-content {
    padding: 0px;
}

.ui-body.margin {
    margin: 20px;
}

.ui-header img {
    height: 40px;
    margin-left: 10px;
}

.ui-content h3 {
    text-align: center;
}

.ui-footer .ui-grid-solo div a {
    width: 90%;
}

.ui-footer .ui-grid-solo div {
    text-align: center;
}

textarea.error, input.error {
    border: 1px solid red;
}

label.error {
    font-size: 10px;
    color: red;
    position: absolute;
}