/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require ../shared/polaroid
 *= require_tree .
 *= require_self
 */

.ui-content {
   /* padding: 0px; */
}

/* Force the polaroid to be at 60 top since otherwise it randomly has more margins on the show.html */
div#polaroid_container {
    top: 60px;
}

.ui-body.margin {
    margin: 20px;
}

.ui-header img {
    height: 40px;
    margin-left: 10px;
}

.ui-content h3 {
    text-align: center;
}

.ui-footer .ui-grid-solo div a {
    width: 90%;
}

.ui-footer .ui-grid-solo div {
    text-align: center;
}

textarea.error, .ui-input-text.error {
    border: 1px solid #FF4242;
    color: red;
}

label.error {
    font-size: 10px;
    color: #FF4242;
    position: absolute;
}

/* Custom */
.ui-page-theme-w {
    background: url('/images/wooden_bg.jpg');
}

.email_step .contents {
    background-color: transparent;
    background-image: url('/images/white_bg.png');
    background-size: cover;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 70vmin;
    margin: 0 auto;
    border: 0px;
    color: #000;
    text-shadow: none;
    margin-top: 20px;
    padding: 20px;
   /* border-top: 3px solid grey;
    border-bottom: 3px solid grey;*/
}

.email_step #event_code {
    font-size: 20px;
    text-transform: uppercase;
}

.email_step #message_email {
    font-size: 20px;
}

.email_step p {
    font-size: 14px;
}

.email_step label {
    font-weight: bold;
    font-size: 12px;
}

.hidden {
    display: none;
}

#form-errors {
    background-color: #FF4242;
    padding: 5px;
}

#form-errors h4 {
    margin: 0.4em;
}