/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.ui-content {
    padding: 0px;
}

.ui-body.margin {
    margin: 20px;
}

.ui-header img {
    height: 40px;
    margin-left: 10px;
}

.ui-content h3 {
    text-align: center;
}

.ui-footer .ui-grid-solo div a {
    width: 90%;
}

.ui-footer .ui-grid-solo div {
    text-align: center;
}

div#photo_container {
    width: 320px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

div#photo_container #polaroid_mask
{
    background-image: url('/assets/polaroid-blank.png');
    background-size: 320px 297px;
    width: 320px;
    height: 297px;
    position: absolute;
    top: 20px;
    left: 0px;
}

div#photo_container img
{
    margin-left: 18px;
    margin-top: 37px;
    max-width: 281px;
    max-height: 220px;
}

div#photo_container #photo_message {
    position: absolute;
    bottom: -4px;
   /* -ms-transform: rotate(-5.6deg);
    -webkit-transform: rotate(-5.6deg);
    transform: rotate(-5.6deg); */
    width: 280px;
    font-family: inherit;
    margin: 0px 20px;
}