div#photo_container {
  width: 320px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-top: 37px;
  vertical-align: middle;
  line-height: 297px;
}

.fadeInImage
{
  opacity: 0;
  -webkit-transition: opacity ease-out  0.6s;
  -moz-transition: opacity ease-out  0.6s;
  -o-transition: opacity ease-out  0.6s;
  transition: opacity ease-out  0.6s;
  transition: opacity ease-out  0.6s;
}

div#photo_container #polaroid_mask
{
  width: 320px;
  height: 297px;
  position: absolute;
  top: 20px;
  left: 0px;
}

div#photo_container.loadingImages #polaroid_mask {
  background-image: url('/assets/loading.gif');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

/*
div#photo_container div#polaroid_background {
  background-color: #000000;
  background-size: 320px 297px;
  width: 320px;
  height: 297px;
  position: absolute;
  top: 20px;
  left: 0px;
}
*/

div#photo_container img#message_photo
{
  max-width: 281px;
  max-height: 220px;
  position: relative;
}

div#photo_container img#polaroid_image
{
  width: 320px;
  height: 297px;
  position: absolute;
  top: 20px;
  left: 0px;
}

div#photo_container #photo_message {
  position: absolute;
  bottom: -4px;
  /* -ms-transform: rotate(-5.6deg);
   -webkit-transform: rotate(-5.6deg);
   transform: rotate(-5.6deg); */
  width: 280px;
  font-family: inherit;
  margin: 0px 20px;
}

div#photo_container #photo_message textarea {
  box-shadow: none;
  background-color: transparent;
  border: 0px;
  padding: 10px 0px;
  height: 60px;
}

div#photo_container #photo_message textarea:disabled{
  opacity: 1 !important;
}

div#photo_container.loadingImages #photo_message {
  opacity: 0 !important;
}