<div class="demo">
  <ul id="lightSlider">
    <% @event.messages.order(:created_at).limit(10).each do |message| %>
    <li data-thumb="<%= message.photo(:thumb).to_s %>">
      <img src="<%= message.photo(:large).to_s %>" />
    </li>
    <% end %>
  </ul>
</div>

<% content_for :header do %>
    <script>
        $(document).ready(function() {
            $('#lightSlider').lightSlider({
                auto: true,
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9,
                onSliderLoad: function (el) {
                    $('.lSSlideWrapper').height($(window).height()-170);
                }
            });

        });
    </script>
<% end %>