<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/easySlider.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#slider").easySlider();
    });
</script>

<div id="eventTitle"><h1>Viewing Event: <%= @event.title %></h1></div>
<div id="slideshowWrapper">
    <div id="slider"><ul>
        <% @event.messages.each do |message| %>
            <li><div class="polaroidShape">
                    <div class="polaroidPhotoShape">
                        <%= image_tag message.photo(:medium).to_s %>
                    </div>
                <br/><br/> <%= message.body %>
            </div></li>
        <% end %>
    </ul></div>
   </div>