
div#polaroid_container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0% 0;
}

div#polaroid_container #polaroid_bg {
    background-image: url('/images/polaroid.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 3%;
    height: 80vmin;
    width: 80vmin;
    min-width: 200px;
    max-width: 700px;
    max-height: 730px;
    margin: 0 auto;
    z-index:0;
}

div#polaroid_container #photo {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    min-width: 200px;
    max-width: 700px;
    max-height: 730px;
    margin: 0 auto;
    border: 1px solid green;
    z-index: 2;
}

div#polaroid_container #black_bg {
    background-color: black;
    width: 53vmin;
    height: 52vmin;
    margin: 11% auto;
    left: -5%;
}


div#polaroid_container div#message, div#lg-slider div#message {
    font-family: 'Permanent Marker', cursive, Helvetica, sans-serif !important;
    color: black !important;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 50px;
    border: 0px;
    padding: 0px;
    height: 68px;
    width: 72%;
    white-space: normal;
}

div#polaroid_container div#message div:first-of-type {
    margin-top: 5px;
}

div#polaroid_container div#message div#chars-remaining {
    font-size: 10px;
    float: right;
    font-family: Helvetica, sans-serif !important;
    position: absolute;
    right: 0px;
    bottom: -14px;
    color: red;
}

div#polaroid_container div#message textarea {
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    overflow: hidden;
    height: 60px;
    border: 0px;
    background-color: none;
    background-color: transparent;
    font-family: 'Permanent Marker', cursive, Helvetica, sans-serif !important;
    color: black !important;
    text-align: center;
}

/* Admin slide show */
/*
div.objectContainer, #lg-slider {
    background-image: url('/images/polaroid.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 200px;
    max-width: 700px;
    max-height: 730px;
    margin: 0 auto;
}
div.objectContainer img.object {
    height: 64% !important;
    margin-top: 75px !important;
    max-width: 520px !important;
    max-height: 430px !important;
}
*/