
div#polaroid_container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 0;
}

div#polaroid_container #polaroid_bg {
    background-image: url('/images/polaroid.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1vmin; bottom: 0; right: 0; left: 0vmin;
    height: 85vmin;
    width: 70vmin;
    margin: 0 auto;
    z-index:0;
}

div#polaroid_container #photo {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}

div#polaroid_container #photo img.display_photo, #photo img.object  {
    margin-left: auto;
    margin-right: auto;
}

div#polaroid_container #black_bg {
    background-color: black;
    width: 57vmin;
    height: 58vmin;
    margin-top: 9vmin;
    margin-left: auto;
    margin-right: auto;
}

div#polaroid_container #photo div#message, div#lg-slider div#message {
    font-family: 'Permanent Marker', cursive, Helvetica, sans-serif !important;
    color: black !important;
    text-align: center;
    position: relative;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 10vmin;
    width: 55vmin;
    white-space: normal;
    font-size: 4vmin;
}

div#polaroid_container div#message .polaroid_message, div#lg-slider .polaroid_message{
    box-shadow: none;
    padding: 0px;
    overflow: hidden;
    height: 60px;
    border: 0px;
    background-color: none;
    background-color: transparent;
    font-family: 'Permanent Marker', cursive, Helvetica, sans-serif !important;
    color: black !important;
    text-align: center;
    font-size: 4vmin;
    word-wrap: break-word;
    z-index:5;
}

div#polaroid_container div#message div:first-of-type {
    margin-top: 5px;
}

div#polaroid_container div#message div#chars-remaining {
    display: none;
    font-size: 2vmin;
    float: right;
    font-family: Helvetica, sans-serif !important;
    position: absolute;
    right: 0px;
    bottom: -8vmin;
    color: red;
    background: white;
    border: 1px solid red;
    border-radius: 2px;
    padding: 1vmin 2vmin;
}
