/*div.polaroidShape{
    margin-left: auto; margin-right: auto;
    text-align: center;
    font-family: 'Merienda One', Helvetica, sans-serif !important;
    background: white;
    width: 300px;
    height: 300px;
    padding-top: 15px;
}
div.polaroidPhotoShape{
    margin-left: auto; margin-right: auto;
    background: black;
    width: 281px;
    height: 220px;
    line-height: 220px;

}

div.polaroidPhotoShape img {
    vertical-align: middle;
    margin-top: -1px;
}*/


/* Easy Slider */
/*
    #slideshowWrapper {
        width: 80%;
        margin-left: auto; margin-right: auto;
    }

    #slider {
        padding: 20px;
        margin-left: auto; margin-right: auto;
    }

	#slider ul {
        height: 400px;
        display: block;
        margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{

		width:500px;
        height: 400px;
		overflow:hidden; 
		}*/
		

	
/* // Easy Slider */



body#slide_show
{
    padding-top: 0px;
}

body#slide_show .container
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    background-image: url('/assets/wooden_bg.jpg');
}


body#slide_show .footer .container
{
    background-image: none;
}