<!-- Start of email input step -->
<div role="main" class="ui-content email_step" data-theme="a" style="<%= @step == "email_step" ? "" : "display:none"%>">

  <!-- Fade in contents after slide -->
  <div class="contents" style="<%= @step == "email_step" ? "" : "display:none"%>">
    <label>Event Code</label>
    <%= text_field_tag :event_code, (@message.event.present? ? @message.event.code : nil), placeholder: 'LOVE', data: {'clear-btn' => true} %>
    <label>Email</label>
    <%= f.input :email, label: false, input_html: {'data-clear-btn' => true}, placeholder: 'name@email.com', type: :email %>
    <p>
      These details will be saved & reused so you do not have to re-enter.
    </p>
  </div>

</div><!-- /content -->
