<!-- Start of second page -->
  <div role="main" class="ui-content message_step" style="display:none">

    <div class="contents" style="display:none">

      <div id="photo_container">
        <div id="polaroid_mask">
          <%= image_tag "", :id => "display_photo" %>
        </div>
        <%= image_tag "/images/polaroid.png", :id => "polaroid_image" %>
        <div id="photo_message">
          <div id="chars-remaining"></div>
          <%= f.input :body, label: false, as: :text, placeholder: 'Your message here', maxlength: 75, :input_html => {:class => "polaroid_message", :data => {:autogrow => false}} %>
        </div>
      </div>

    </div>

  </div><!-- /content -->
