<!-- Start of second page -->
  <div role="main" class="ui-content message_step" style="display:none">

    <div id="photo_container" class="contents" style="display:none">
      <div id="polaroid_background"></div>
      <img id="display_photo" src="" alt="snapshot"/>
      <div id="polaroid_mask">
        <div id="photo_message">
          <%= f.input :body, label: false, as: :text, placeholder: 'Your message here', :autofocus => true %>
        </div>
      </div>
    </div>

  </div><!-- /content -->
