<!-- Start of second page -->
<div data-role="page" id="page_three" data-theme="d" data-dom-cache="true">

  <div data-role="header" data-theme="b" data-position="fixed">
    <a href="#page_two" data-icon="back" data-transition="slide" data-direction="reverse">Back</a>
    <h1>Email</h1>
    <div class="ui-btn-right">
      <%= f.submit 'Done', :data => {"icon" => "check", "theme" => "b"} %>
    </div>
  </div>

  <div role="main" class="ui-content" data-theme="d">
      <div data-theme="c" class="ui-body ui-body-c ui-corner-all margin">
        Since you are not signed in enter your email to upload your photo
        <%= f.input :email, label: false, placeholder: 'name@email.com', type: :email %>
    </div>

  </div><!-- /content -->

</div><!-- /page -->