<!-- Start of second page -->
<div data-role="page" id="page_two" data-theme="d" data-dom-cache="true">

  <div data-role="header" data-theme="b" data-position="fixed">
    <a href="#page_one" data-icon="back" data-transition="slide" data-direction="reverse">Back</a>
    <h1>Caption it!</h1>
    <a href="#page_three" data-icon="check" data-transition="slide">Save</a>
  </div>

  <div role="main" class="ui-content">

    <div id="photo_container">
      <div id="polaroid_background"></div>
      <img id="display_photo" src="" alt="snapshot"/>
      <div id="polaroid_mask">
        <div id="photo_message">
          <%= f.input :body, label: false, as: :text, placeholder: 'Your message here' %>
        </div>
      </div>
    </div>

  </div><!-- /content -->

</div><!-- /page -->