<div class="upload_step" style="<%= !@step || @step == "upload_step" ? "" : "display:none"%>">
  <div style="width: 0; height: 0; overflow: hidden;">
    <%= f.file_field :photo, :accept => "image/*" %>
  </div>

  <div role="main" class="ui-content" data-theme="d">

    <!-- Maintain an aspect ratio of width x height (9:10), but do not exceed width of 750px -->
    <div id="polaroid_container">
      <div id="photo"><div id="black_bg"></div></div>
      <div id="polaroid_bg"></div>
    </div>

  </div>
</div>