<div class="upload_step">
  <div style="width: 0; height: 0; overflow: hidden;">
    <%= f.file_field :photo, :accept => "image/*" %>
  </div>

  <div role="main" class="ui-content" data-theme="d">
    <div id="photo_container" class="contents">
        <div id="polaroid_background"></div>
        <%= image_tag 'upload_your_photo.png' %>
        <div id="polaroid_mask" class="image_upload"></div>
    </div>
  </div>
</div>