<% if @event %>
  $('#event_code').parent(".ui-input-text").removeClass('error');
  $('#event_code').parent(".ui-input-text").append('<label id="event_code-error" class="ui-icon-check ui-btn-icon-left error valid" for="event_code"> Event found!</label>');
  $('#event_code').removeClass("invalid_code");
<% else %>
  $('#event_code').addClass("invalid_code");
  $('#event_code').parent(".ui-input-text").addClass('error');
  $('#event_code').parent(".ui-input-text").append('<label id="event_code-error" class="ui-icon-alert ui-btn-icon-left error" for="event_code"> Event not found.</label>');
<% end %>