
<!-- Start of second page -->
<div data-role="page" data-theme="d">
  <div data-role="header" data-theme="b" data-position="fixed">
    <%= image_tag("logo.png") %>
    <%= link_to 'Upload', "#{mobile_root_path}#upload", :data => {'transition' => 'slide', 'prefetch' => true}, :class => 'ui-btn-right' %>
  </div>

  <div role="main" class="ui-content" data-theme="d">
    <div id="photo_container">
      <div id="polaroid_background"></div>
      <%= image_tag @message.photo(:medium), :onload=>"fadeInImage(this)", :class=> "fadeInImage" %>
      <div id="polaroid_mask">
        <div id="photo_message">
            <%= text_area_tag :body, @message.body, label: false, as: :text, :disabled => true %>
        </div>
      </div>
    </div>
  </div>

</div>
