
<!-- Start of second page -->
<div data-role="page" data-theme="d">
  <div data-role="header" data-theme="b" data-position="fixed">
    <%= image_tag("logo.png") %>
    <%= link_to 'Upload', new_message_path, :data => {'icon' => '', 'transition' => 'slide'}, :class => 'ui-btn-right' %>
  </div>

  <div role="main" class="ui-content" data-theme="d">
    <div id="photo_container">
      <div id="polaroid_background"></div>
      <%= image_tag @message.photo(:medium) %>
      <div id="polaroid_mask" class="image_upload">
        <div id="photo_message">
          <%= @message.body %>
        </div>
      </div>
    </div>
  </div>

</div>
